@font-face {
    font-family: 'Days One';
    src: url('../WebFonts/DaysOne-Regular.woff2') format('woff2'),
        url('../WebFonts/DaysOne-Regular.woff') format('woff'),
        url('../WebFonts/DaysOne-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../webFonts/ChakraPetch-Bold.woff2') format('woff2'),
        url('../webFonts/ChakraPetch-Bold.woff') format('woff'),
        url('../webFonts/ChakraPetch-Bold.ttf') format('truetype');
        
    font-weight: 700;
    
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../webFonts/ChakraPetch-Regular.woff2') format('woff2'),
        url('../webFonts/ChakraPetch-Regular.woff') format('woff')
        url('../webFonts/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: 400;
    
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../webFonts/ChakraPetch-Medium.woff2') format('woff2'),
        url('../webFonts/ChakraPetch-Medium.woff') format('woff')
        url('../webFonts/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 500;
    
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../webFonts/ChakraPetch-Light.woff2') format('woff2'),
        url('../webFonts/ChakraPetch-Light.woff') format('woff')
        url('../webFonts/ChakraPetch-Light.ttf') format('truetype');
    font-weight: 300;
    
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('../webFonts/ChakraPetch-SemiBold.woff2') format('woff2'),
        url('../webFonts/ChakraPetch-SemiBold.woff') format('woff')
        url('../webFonts/ChakraPetch-SemiBold.ttf') format('truetype');
    font-weight: 600;
    
}